.separator {
    margin: -20px 10px;
    height: 50px;
    border-left: 1px solid #aaa;
    display: inline-block;
}

.action-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.action-btn .add-btn {
    display: inline-block;
    font-size: 3em;
    border-radius: 50%;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}

.action-btn .add-btn:hover {
    background-color: #286090;
    border-color: #204d74;
}

.data-table table {
    margin-bottom: 0px;
}

.data-table thead {
    background-color: #ffe;
}

.data-table thead th {
    text-align: center;
}

.data-table tr.error {
    background-color: #fee;
}

.info-container {
    text-align: center;
}

.additional-info {
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 20px;
}

.additional-info span {
    padding: 0 10px;
}
